{% load emoticons %}
{% load i18n %}

<article {% if id %}id="{{ id }}" {% endif %}class="grid grid-cols-7 gap-4 my-4">
  <div class="col-span-1">
    {% component "profile_image" created_by.profile.image_profile_small created_by.profile.image_width created_by.profile.image_height / %}
  </div>

  <div class="col-span-6">
    <header class="px-2 py-1 border-y border-neutral-300 bg-neutral-200 text-neutral-content">
      <div class="overflow-hidden">
        {% url 'profile' created_by.id as href %}
        {% blocktranslate with href=href name=created_by.display_name trimmed %}
          <a class="font-bold text-contain" href="{{ href }}">{{ name }}</a> has written
        {% endblocktranslate %}
      </div>
      <div class="text-sm">{% blocktranslate with created_at=created_at %}At {{ created_at }}{% endblocktranslate %}</div>
      {% if component_vars.is_filled.subline %}
        <div class="text-sm">{% slot "subline" %}{% endslot %}</div>
      {% endif %}
    </header>

    <div class="mx-2 my-3 mixed-copy">
      {{ post|emoticons|linebreaks }}

      <p class="text-sm">
        {% if can_send_messages %}
          <a href="{% url 'message_create_to' created_by.pk %}">[{% translate 'Send message' %}]</a>
        {% endif %}

        {% if component_vars.is_filled.actions %}
          {% slot "actions" %}{% endslot %}
        {% endif %}
      </p>

      {% if attachment and attachment_url %}
        <a href="{{ attachment_url }}">
          <img class="w-auto h-auto p-1 border border-neutral-300 max-w-48 max-h-48" alt="{{ alt }}" src="{{ attachment.url }}"{% if attachment_width %} width="{{ attachment_width }}"{% endif %}{% if attachment_height %} height="{{ attachment_height }}"{% endif %} loading="lazy" />
        </a>
      {% endif %}
    </div>
  </div>
</article>
