{% extends "base.html" %}

{% load emoticons %}
{% load i18n %}

{% block headertitle %}
{{ thread.group.name }}
{% endblock %}

{% block content %}
  <p class="my-4">
    <a href="{% url 'forumthread_detail' thread.pk %}#{{ post.id }}">[{% translate 'Back to thread' %}]</a> |
    <a href="{% url 'group' thread.group.pk %}">[{% translate 'Back to group' %}]</a>
  </p>

  <h2 class="mt-4 mb-2 text-lg font-bold">{{ thread.topic }}</h2>

  <img class="block w-auto h-auto max-w-[768px] p-1 mt-4 mb-8 border border-neutral-300 max-h-[768px]" src="{{ post.attachment.url }}" width="{{ post.attachment_width }}" height="{{ post.attachment_height }}"  />
{% endblock %}
