{% extends "base.html" %}

{% block head_title %}
Hilfe
{% endblock %}

{% block headertitle %}
Hilfe
{% endblock %}

{% block content %}
<div class="my-4 mixed-copy">

<p>Es ist ein durchschnittlicher Nachmittag, ca. 2008. Dir ist langweilig, also schaltest du den Computer ein. Während der am Booten ist, denkst du daran, dass dir eine Freundin vor ein paar Tagen eigentlich versprochen hatte, eine Einladung für dieses geheimVZ zu schicken, von dem alle reden …</p>
<p>Ein paar Minuten später ist der Computer endlich hochgefahren. Erstmal die ganzen Fenster schließen, die sich von selbst geöffnet haben. Dann ist es so weit: Doppelklick auf den eingerollten Fuchs. Deine GMX-Startseite lädt von alleine. Login … zwei neue Mails, und die Einladung ins geheimVZ ist auch dabei!</p>
<p>Beim Klick auf die Einladungs-Mail fühlst du dich, als hättest du gerade die Schokolade mit dem goldenen Ticket für Willy Wonkas Schokoladefabrik ausgepackt. Und dann bist du auch schon drin im VZ! Du surfst durch die Profile deiner Bekannten, offenbar sind hier echt viele Leute schon drin. Und dann …</p>
<p>Shit, schon fast eine halbe Stunde herum! Du bist doch eigentlich noch verabredet! Also schnell aus dem geheimVZ ausloggen und den Computer herunterfahren. Genug Computerzeit für heute!</p>
<p>So könnte dein erstes Abenteuer im geheimVZ gewesen sein!</p>

<h2>Was ist das geheimVZ?</h2>
<p>Das geheimVZ ist ein kleines, privates Social Network von Freund*innen für Freund*innen. Ein bisschen Nostalgie und eine Erinnerung an eine Zeit, als es krass war, in der Gruppe „Ich bin jeden Tag auf geheimVZ online!“ zu sein — denn wer ist schon jeden Tag auf Social Media? Eine Erinnerung an eine Zeit, als Big Tech noch nicht alle Lebensbereiche mit gezielt abhängig machenden Benutzeroberflächen durchzogen hat.</p>
<p>geheimVZ ist ein Experiment, wie es ist, in einem sozialen Netzwerk zu sein, bei dem es nichts zu verpassen gibt. Ein Downgrade auf Web 2.0, knapp vor Erfindung des Posts und der Timeline.</p>

<h2>Was soll es hier nicht geben?</h2>
<ul>
  <li>Alles, was unmittelbare Dringlichkeit oder FOMO erzeugt: Chats, Storys, Posts, Microblogging, Timelines. Es gibt nichts endgültig zu verpassen, wenn man mal ein paar Tage nicht online ist.</li>
  <li>Alles, was einen zur endlosen Nutzung motiviert und in der App fängt: Unendliches Scrollen, Swipen, Sound, automatisch abspielende Videos, Benachrichtigungen.</li>
  <li>Alles, was anhand von öffentlichen Zählern vermeintlichen Erfolg widerspiegelt: Follower, Likes, Favoriten, Abos, Ränge.</li>
  <li>Corporate Bullshit: Unternehmensprofile. Alles, was „Influencer“ bzw. parasoziale Beziehungen fördert und produziert. Spionage zu Werbezwecken. Kommerzielle Werbung. Verkaufen von Nutzerdaten. Privatsphäre-Überraschungen.</li>
</ul>

<h2>Wer oder was ist die Geheimorganisation?</h2>

<p>Die Geheimorganisation ist eine spitzbübisch feixende Mischpoke von abgefeimten Frechdachsen, die hanebüchene Fisimatenten und Verhohnepiepelungen anstellt. 🏳️‍🌈 🏳️‍⚧️
<p>Ok jetzt mal im Ernst: Wir sind eine Freund*innengruppe im Umfeld des CCC und machen irgendwelchen Quatsch, der manchmal auch ein bisschen ernst ist.</p>

</div>
{% endblock %}
