{% extends "base.html" %}

{% block head_title %}
Kontakt und Datenschutz
{% endblock %}

{% block headertitle %}
Kontakt und Datenschutz
{% endblock %}

{% block content %}
<div class="my-4 mixed-copy">

<h2>Wen kann ich kontaktieren?</h2>
<p>Melde dich per E-Mail an: vz@geheimorganisation.org</p>

<h2>Welche Daten werden zu welchem Zweck erfasst?</h2>
<p>Zur <strong>Registrierung</strong> werden folgende Daten erfasst: Einladungscode, Benutzername, E-Mail-Adresse, ob deine E-Mail-Adresse bestätigt wurde, Passwort. Die Daten sind notwendig, damit du dich einloggen kannst und wir dich per E-Mail kontaktieren können.</p>
<p>Deine <strong>E-Mail-Adresse</strong> wird ausschließlich verwendet, um von dir ausgelöste Account-Aktionen, wie z.B. einen Passwort-Reset, durchzuführen, und um dich automatisch zu benachrichtigen, wenn im VZ etwas passiert. Welche Benachrichtigungen du erhältst, kannst du unter <i>Mein Account → Benachrichtigungen</i> einstellen.</p>
<p>Zu deinem <strong>Account</strong> werden folgende zusätzliche Daten erfasst: Zeitpunkt der Registrierung, Zeitpunkt des letzten Logins. Diese Daten werden öffentlich als Teil deines Profils dargestellt und ansonsten nicht verwendet.</p>
<p>Zu deinem <strong>Profil</strong> erfasste Daten sind unter <i>Meine Seite → Meine Seite bearbeiten</i> vollständig sichtbar. Je nach Einstellung unter <i>Mein Account → Privatsphäre</i> sind diese Daten als Teil deines Profils öffentlich oder, mit Ausnahme von Name und Profilbild, nur für deine Freunde sichtbar.</p>
<p>Zu deinen <strong>Freundschaften</strong> werden folgende Daten erfasst: Zeitpunkt, Absender, Empfänger und Nachricht der Freundschaftsanfrage. Bestätigte oder abgelehnte Freundschaftsanfragen werden gelöscht. Anschließend werden zu Freundschaften nur der Zeitpunkt der Bestätigung gespeichert. Deine Freundschaften sind, je nach Einstellung unter <i>Mein Account → Privatsphäre</i>, öffentlich oder nur für deine Freunde sichtbar.</p>
<p>Zu deinen <strong>Nachrichten</strong> werden folgende Daten erfasst: Zeitpunkt, Absender, Empfänger, Betreff, Nachricht und ob die Nachricht vom Empfänger geöffnet wurde. Die Information, ob die Nachricht vom Empfänger geöffnet wurde, ist nur für den Empfänger sichtbar und dient, neben der Darstellung im Bereich <i>Nachrichten</i>, ausschließlich dazu, die Anzahl der ungelesenen Nachrichten für deine Startseite zu ermitteln.</p>
<p>Beim <strong>Grüßen</strong> werden folgende Informationen gespeichert: Zeitpunkt, Absender, Empfänger. Die Daten werden ausschließlich dazu genutzt, auf deiner Startseite darzustellen, wer dich gegrüßt hat und um zu verhindern, dass du eine Person mehrfach grüßt. Blendest du einen Gruß aus, werden die genannten Informationen vollständig gelöscht.</p>

<h2>Wo werden meine Daten gespeichert?</h2>
<p>In der Yolo Colo.</p>
<p>Deine persönlichen Daten werden nicht zu Werbezwecken verwendet. Es wird keine personenbezogene Webanalyse durchgeführt.</p>

<h2>Wie kann ich der Verarbeitung meiner Daten widersprechen?</h2>
<p>Möchtest du nicht länger, dass wir deine Daten speichern und verarbeiten, kannst du deinen Account jederzeit unter <i>Mein Account → Konto löschen</i> vollständig löschen.</p>

</div>
{% endblock %}
