{% extends "base.html" %}

{% block headertitle %}
Kontakt und Datenschutz
{% endblock %}

{% block content %}
<div class="grid grid-cols-10 gap-4 my-4 -mx-4">
<div class="col-span-6 col-start-3 mixed-copy">

<h2>Wen kann ich kontaktieren?</h2>
<p>Melde dich per E-Mail an: vz@geheimorganisation.org</p>
<h2>Welche Daten werden zu welchem Zweck erfasst?</h2>
<p>Zur <strong>Registrierung</strong> werden folgende Daten erfasst: Einladungscode, Benutzername, E-Mail-Adresse, Passwort. Die Daten sind notwendig, damit du dich einloggen kannst. Der verwendete Einladungscode wird nicht mit deinem Account verknüpft. </p>
<p>Zu deinem <strong>Account</strong> werden folgende zusätzliche Daten erfasst: Zeitpunkt der Registrierung, Zeitpunkt des letzten Logins. Diese Daten werden öffentlich als Teil deines Profils dargestellt.</p>
<p>Zu deinem <strong>Profil</strong> erfasste Daten sind unter Meine Seite → Meine Seite bearbeiten vollständig sichtbar. Je nach Einstellung unter Mein Account → Privatsphäre sind diese Daten als Teil deines Profils öffentlich oder, mit Ausnahme von Name und Profilbild, nur für deine Freunde sichtbar.</p>
<p>Zu deinen <strong>Freundschaften</strong> werden folgende Daten erfasst: Zeitpunkt, Absender, Empfänger und Nachricht der Freundschaftsanfrage. Bestätigte oder abgelehnte Freundschaftsanfragen werden gelöscht. Anschließend werden zu Freundschaften nur der Zeitpunkt der Bestätigung gespeichert. Deine Freundschaften sind, je nach Einstellung unter Mein Account → Privatsphäre, öffentlich oder nur für deine Freunde sichtbar.</p>
<p>TODO: Gruppen, Nachrichten, Gruscheln.</p>
<h2>Wo werden meine Daten gespeichert?</h2>
<p>Folgende Unternehmen verarbeiten im Auftrag Daten:</p>
<p><strong>Hetzner Online GmbH:</strong> Cloud-Hosting.</p>
<p><strong>Cloudflare, Inc.:</strong> Object Storage zur Speicherung hochgeladener Dateien, z.B. Fotos.</p>
<p><strong>Uberspace:</strong> E-Mail-Versand.</p>
<p>Alle Daten werden innerhalb der EU gespeichert. Deine persönlichen Daten werden nicht zu Werbezwecken verwendet. Es wird keine personenbezogene Webanalyse durchgeführt.</p>
<h2>Wie kann ich der Verarbeitung meiner Daten widersprechen?</h2>
<p>Möchtest du nicht länger, dass wir deine Daten speichern und verarbeiten, kannst du deinen Account jederzeit unter Mein Account → Konto löschen vollständig löschen.</p>

</div>
</div>
{% endblock %}
