{% extends "base-login.html" %}

{% load i18n %}

{% block headertitle %}
{% blocktranslate with name=request.user.display_name %}Hey {{ name }}!{% endblocktranslate %}
{% endblock %}

{% block content %}
<div class="grid grid-cols-10 gap-4 my-4 -mx-4">

  <div class="col-span-6 col-start-3 mixed-copy">
    <h2>{% blocktranslate with name=request.user.display_name %}Hey {{ name }}!{% endblocktranslate %}</h2>
    <p>Deine Startseite! Damit du immer den Überblick behältst, was es Neues für dich gibt... Ob dich jemand gegruschelt hat oder du neue Freunde hast, ob du Nachrichten bekommen hast und wer als letztes deine Seite angeschaut hat.</p>

    {% if friend_requests > 0 %}
    <h2>{% translate 'New friends'%}</h2>
    <p>{% blocktranslate count count=friend_requests %}You have {{ count }} request from someone who wants to add you as a friend.{% plural %}You have {{ count }} requests from someone who wants to add you as a friend.{% endblocktranslate %}</p>
    <p><a href="{% url 'friend-requests' %}">[ {% translate 'View requests and confirm friends' %} ]</a></p>
    {% endif %}

    {% if unread_messages > 0 %}
    <h2>{% translate "You've got mail!" %}</h2>
    <p>{% blocktranslate count count=unread_messages %}You have one unread messages.{% plural %}You have {{ count }} unread messages.{% endblocktranslate %}</p>
    <p><a href="{% url 'messages' %}">[ {% translate 'View messages' %} ]</a></p>
    {% endif %}

    {% if request.user.greetings_received.count > 0 %}
      <h2>{% translate 'Have a look!' %}</h2>
      <ul class="space-y-2">
      {% for greeting in request.user.greetings_received.all %}
        <li class="grid grid-cols-2 gap-2">
          <div>
            <a href="{% url 'profile' greeting.from_user.pk %}">{{ greeting.from_user.display_name }}</a><br>{{ greeting.from_user.profile.greeting_i18n.message }}
          </div>
          <div>
            <form action="{% url 'greeting_create' greeting.from_user.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="link">[ {{ request.user.profile.greeting_i18n.return }} ]</button>
            </form>
            <form action="{% url 'greeting_remove' greeting.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="link">[ {% translate 'hide' %} ]</button>
            </form>
          </div>
        </li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if group_invites > 0 %}
    <h2>{% translate 'You are invited!' %}</h2>
    <p>{% blocktranslate count count=group_invites %}You have one open group invite.{% plural %}You have {{ count }} open group invites.{% endblocktranslate %}</p>
    <p><a href="{% url 'group-invitations' %}">[ {% translate 'View group invites' %} ]</a></p>
    {% endif %}

    {% if friend_suggestions %}
      <h2>{% translate 'Do you know ...?' %} <a class="ml-2 text-base font-normal" href="{% url 'friend-suggestions' %}">[{% translate 'Show all' %}]</a></h2>
      <ul class="grid grid-cols-4 gap-4">
        {% for user in friend_suggestions %}
          <li class="flex flex-col">
            <a class="my-auto" href="{{ user.get_absolute_url }}">
              {% component "profile_image" user.profile.image_profile_small user.profile.image_width user.profile.image_height / %}
              <span class="hyphens-auto">{{ user.display_name }}</span>
            </a>
            <span class="mt-1 text-sm">{% blocktranslate count count=user.mutual_friends_count %}One mutual friend.{% plural %}{{ count }} mutual friends.{% endblocktranslate %}</span>
          </li>
        {% endfor %}
      </ul>
      <p></p>
    {% endif %}

    {% if popular_groups %}
      <h2>{% translate 'Popular groups' %} <a class="ml-2 text-base font-normal" href="{% url 'groups-all' %}">[{% translate 'Show all' %}]</a></h2>
      <ul class="px-5 list-disc">
        {% for group in popular_groups %}
          <li><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

</div>
{% endblock %}
