{% extends "base.html" %}

{% load i18n %}

{% block headertitle %}
{% blocktranslate with name=request.user.display_name %}Hey <span dir="auto">{{ name }}</span>!{% endblocktranslate %}
{% endblock %}

{% block content %}
<div class="grid grid-cols-10 gap-4 -mx-4">

  <div class="col-span-6 col-start-3 mb-4 mixed-copy">
    <h2 class="border-b text-contain border-primary-200">{% blocktranslate with name=request.user.display_name %}Hey <span dir="auto">{{ name }}</span>!{% endblocktranslate %}</h2>
    <p>Deine Startseite! Damit du immer den Überblick behältst, was es Neues für dich gibt... Ob dich jemand gegruschelt hat oder du neue Freunde hast, ob du Nachrichten bekommen hast und wer als letztes deine Seite angeschaut hat.</p>

    {% if friend_requests > 0 %}
    <h2 class="border-b border-primary-200">{% translate 'New friends'%}</h2>
    <p>{% blocktranslate count count=friend_requests %}You have {{ count }} request from someone who wants to add you as a friend.{% plural %}You have {{ count }} requests from someone who wants to add you as a friend.{% endblocktranslate %}</p>
    <p><a href="{% url 'friend-requests' %}">[ {% translate 'View requests and confirm friends' %} ]</a></p>
    {% endif %}

    {% if unread_messages > 0 %}
    <h2 class="border-b border-primary-200">{% translate "You've got mail!" %}</h2>
    <p>{% blocktranslate count count=unread_messages %}You have one unread messages.{% plural %}You have {{ count }} unread messages.{% endblocktranslate %}</p>
    <p><a href="{% url 'messages' %}">[ {% translate 'View messages' %} ]</a></p>
    {% endif %}

    {% if greetings.count > 0 %}
      <h2 class="border-b border-primary-200">{% translate 'Have a look!' %}</h2>
      <ul class="space-y-2">
      {% for greeting in greetings %}
        <li class="grid grid-cols-2 gap-2">
          <div>
            <div class="block text-contain"><a href="{% url 'profile' greeting.from_user.pk %}">{{ greeting.from_user.display_name }}</a></div>
            {{ greeting.from_user.profile.greeting_i18n.message }}
          </div>
          <div>
            <form action="{% url 'greeting_create' greeting.from_user.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="link">[ {{ request.user.profile.greeting_i18n.return }} ]</button>
            </form>
            <form action="{% url 'greeting_remove' greeting.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="link">[ {% translate 'hide' %} ]</button>
            </form>
          </div>
        </li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if group_invites > 0 %}
    <h2 class="border-b border-primary-200">{% translate 'You are invited!' %}</h2>
    <p>{% blocktranslate count count=group_invites %}You have one open group invite.{% plural %}You have {{ count }} open group invites.{% endblocktranslate %}</p>
    <p><a href="{% url 'group-invitations' %}">[ {% translate 'View group invites' %} ]</a></p>
    {% endif %}

    {% if friend_suggestions %}
      <h2 class="border-b border-primary-200">{% translate 'Do you know ...?' %} <a class="ml-2 text-base font-normal" href="{% url 'friend-suggestions' %}">[{% translate 'Show all' %}]</a></h2>
      <ul class="grid grid-cols-4 gap-4">
        {% for user in friend_suggestions %}
          <li class="flex flex-col">
            <a class="my-auto" href="{{ user.get_absolute_url }}">
              {% component "profile_image" user.profile.image_profile_small user.profile.image_width user.profile.image_height / %}
              <div class="text-contain">{{ user.display_name }}</div>
            </a>
            <span class="mt-1 text-sm">{% blocktranslate count count=user.mutual_friends_count %}One mutual friend.{% plural %}{{ count }} mutual friends.{% endblocktranslate %}</span>
          </li>
        {% endfor %}
      </ul>
      <p></p>
    {% endif %}

    {% if latest_group_posts.count > 0 %}
    <h2 class="border-b border-primary-200">{% translate 'What is going on in your groups?' %}</h2>
    <ul>
      {% for post in latest_group_posts %}
        <li class="my-2">
          <div class="mb-1"><a href="{{ post.get_absolute_url }}">{{ post.thread.topic }}</a></div>
          <div class="text-xs">{% if post.created_by %}<a href="{% url 'profile' post.created_by.pk %}"><span dir="auto">{{ post.created_by.display_name }}</span></a>{% else %}[{% translate 'User deleted' %}]{% endif %} • {{ post.created_at }} • <a href="{{ post.thread.group.get_absolute_url }}"><span dir="auto">{{ post.thread.group.name }}</span></a></div>
        </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if popular_groups %}
      <h2 class="border-b border-primary-200">{% translate 'Popular groups' %} <a class="ml-2 text-base font-normal" href="{% url 'groups-all' %}">[{% translate 'Show all' %}]</a></h2>
      {% component "list" %}
        {% for group in popular_groups %}
          <li><a class="block text-contain" href="{{ group.get_absolute_url }}">{{ group.name }}</a></li>
        {% endfor %}
      {% endcomponent %}
    {% endif %}
    <h2 class="border-b border-primary-200">{% translate 'Privacy' %} <a class="ml-2 text-base font-normal" href="{% url 'account-privacy' %}">[{% translate 'change' %}]</a ></h2>
    {% component "list" %}
      <li>
      {% if can_see_profile %}
        {% translate 'Everyone logged in' %}
      {% else %}
        {% translate 'Only your friends' %}
      {% endif %}
          {% translate 'can see your profile' %}
      </li>
      <li>
      {% if can_send_messages %}
        {% translate 'Everyone logged in' %}
      {% else %}
        {% translate 'Only your friends' %}
      {% endif %}
        {% translate 'can send you messages' %}
      </li>
    {% endcomponent %}
  </div>
</div>
{% endblock %}
