{% extends "base.html" %}

{% load i18n %}

{% block aside %}
<form action="{% url 'search' %}">
  <input class="w-full px-1 mb-4 border appearance-none border-primary-300" type="search" name="q" placeholder="{% translate 'Find people' %}" />
</form>

<nav>
  <ul class="actions bg-base-100">
    <li><a class="action" href="{% url 'index' %}">{% translate 'Start' %}</a></li>
    <li>
      <a class="action" href="{% url 'profile' request.user.id %}">{% translate 'My page' %}</a>
      <a class="action" href="{% url 'profile-update' %}">{% translate 'edit' %}</a>
    </li>
    <li><a class="action" href="{% url 'friends' %}">{% translate 'My friends' %}</a></li>
    <li><a class="action" href="{% url 'groups' %}">{% translate 'My groups' %}</a></li>
    <li><a class="action" href="{% url 'messages' %}">{% translate 'Messages' %}</a></li>
    <li><a class="action" href="{% url 'account' %}">{% translate 'My account' %}</a></li>
    {% if request.user.is_superuser %}
    <li><a class="action" href="{% url 'admin:index' %}">{% translate 'Admin' %}</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}

{% block headernav %}
<nav class="flex">
  <a class="px-2 py-1 text-primary-content hover:text-primary-content hover:no-underline hover:bg-primary-100" href="{% url 'invite_code_list' %}">{% translate 'invite' %}</a>
  <a class="px-2 py-1 text-primary-content hover:text-primary-content hover:no-underline hover:bg-primary-100" href="">{% translate 'help' %}</a>
  <form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="px-2 py-1 hover:bg-primary-100">{% translate 'get out' %}</button>
  </form>
</nav>
{% endblock %}
