{% extends "base-login.html" %}

{% load i18n %}
{% load render_table from django_tables2 %}

{% block headertitle %}
{% translate 'My friends' %}
{% endblock %}

{% block content %}
{% component "tabs" tabs=tabs / %}

{% if table.data %}
  <p class="my-4">{% translate 'Do you know ...?' %} <a href="{% url 'search' %}">[{% translate 'Go to search' %}]</a></p>
  {% render_table table %}
{% else %}
  <p class="my-4">{% translate 'You currently have no friend suggestions!' %} <a href="{% url 'search' %}">[{% translate 'Go to search' %}]</a></p>
{% endif %}
{% endblock %}
