{% extends "base.html" %}

{% load i18n %}
{% load render_table from django_tables2 %}

{% block headertitle %}
{% translate 'My friends' %}
{% endblock %}

{% block content %}
{% component "tabs" tabs=tabs / %}

{% if table.data %}
  <p class="my-4">{% blocktranslate count count=table.data|length %}You have one open friend request.{% plural %}You have {{ count }} open friend requests.{% endblocktranslate %}</p>
  {% render_table table %}
{% else %}
  <p class="my-4">{% translate 'You have no open friend requests!' %}</p>
{% endif %}
{% endblock %}
